.btn{
  position: relative;
  background-color: transparent;
  color: var(--main-blue);
  text-decoration: none;
  display: inline-block;
  border: 1px solid var(--main-blue);
  text-transform: uppercase;
  font-size: 0.875rem;
  padding: 20px 25px;
  transition: all 0.5s ease-in;
  

  &--no-bottom{
    border-bottom: 0;
  }

  &--small{
    width: 54px;
    padding: 6px 10px;
  }
  &--smaller{
    font-size: 0.625rem;
    padding: 4px 10px;
  }

  &--timeline{
    background: linear-gradient(to right, var(--highlight-yellow) 50%, var(--main-blue) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    z-index: 3;
  }

  &--white{
    color: white;
    border-color: white;
  }

  &--selected{
    background-position: left bottom;
    /* background: var(--highlight-yellow);  */
    border-color: var(--highlight-yellow); 
  }

  &--yellow{
    background: linear-gradient(to right, var(--highlight-yellow) 50%, var(--main-blue) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: var(--highlight-yellow);
    border-color:var(--highlight-yellow);
  }
  
  &--blue{
    background: linear-gradient(to right, var(--highlight-blue) 50%, var(--main-blue) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: var(--highlight-blue);
    border-color:var(--highlight-blue);
  }

  &--orange{
    background: linear-gradient(to right, var(--highlight-orange) 50%, var(--main-blue) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: var(--highlight-orange);
    border-color:var(--highlight-orange);
  }

  &--graph-selected{
    background-position: left bottom;
    color: var(--main-blue);
  }

 
  /* &--yellow-selected{
    color: var(--main-blue);
    background:var(--highlight-yellow);
    border-color:var(--highlight-yellow);
  }

  &--blue-selected{
    color: var(--main-blue);
    background:var(--highlight-blue);
    border-color:var(--highlight-blue);
  }

  &--orange-selected{
    color: var(--main-blue);
    background:var(--highlight-orange);
    border-color:var(--highlight-orange);
  } */
}