.btn{
  background-color: transparent;
  color: var(--main-blue);
  text-decoration: none;
  display: inline-block;
  border: 1px solid var(--main-blue);
  text-transform: uppercase;
  font-size: 0.875rem;
  padding: 20px;

  &--no-bottom{
    border-bottom: 0;
  }

  &--small{
    padding: 5px;
  }

  &--white{
    color: white;
    border-color: white;
  }

  &--selected{
    background: var(--highlight-yellow); 
  }

  &--blue{
    color: var(--highlight-blue);
    border-color:var(--highlight-blue);
  }

  &--orange{
    color: var(--highlight-orange);
    border-color:var(--highlight-orange);
  }
}