.primary-nav{

  &--pull-right{
    float: right;
  }

  ul {
    margin: 0;
    padding: 20px;
    background: var(--main-blue);
    width: 200px;
    margin: 49px -40px 0 0;
    text-align: right;

    @mixin atDesktop{
      padding: 0;
      margin: 0;
      background: transparent;
      width: 100%;
      text-align: left;
    }
  }

  li{
    list-style: none;

    @mixin atDesktop{
      display: inline-block;
      padding-right: 20px;
    }
  }

  li:last-child{
    padding-right: 0;
  }

  a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    display: block;
    padding: 17px 0;
    font-size: 0.875rem;
    text-transform: capitalize;

    &.is-selected{
      opacity: 0.6;
    }
  }

  &--top{
    li{
      padding-right: 35px;
    }

    li:last-child{
      padding-right: 0;
      padding-left: 35px;
      border-left: 1px solid grey;
    }

    a {
      padding: 9px 0;
      text-transform: uppercase;
      font-size: 0.625rem;
      font-weight: 400;
    }

  }
}