:root{
  --main-blue: #002140;
  --alt-blue: #e6f0f3;
  --highlight-yellow: #e6ff00;
  --highlight-orange: #ffa32b;
  --highlight-blue: #61e3e8;
  --alt-text: #f4e8d6;
  
}
/* @define-mixin clearfix{
  &::after {
    content:"";
    clear: both;
    display: table;
  }
} */
body {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  color: var(--main-blue);
  background-color: #ffffff;
  width: 900px;
  
}
img{
  max-width: 100%;
  height: auto;
}
*{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.top-push{
  height: 73px;
  width: 100%;
}
.site-header{
  position: fixed;
  top: 0;
  z-index: 2;
  width: 900px;
  background: var(--main-blue);
  color: white;
  padding: 0;
}
.site-header__logo{
    position: absolute;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.25rem;
    padding: 14px 0;
  }
.site-header__first-row{
    display: block;
  }
.site-header__second-row{
    top: 30px;
    border-top: 1px solid grey;
  }
.wrapper{
  padding-left: 40px;
  padding-right: 40px;
}
.btn{
  background-color: transparent;
  color: var(--main-blue);
  text-decoration: none;
  display: inline-block;
  border: 1px solid var(--main-blue);
  text-transform: uppercase;
  font-size: 0.875rem;
  padding: 20px;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  /* &--yellow-selected{
    color: var(--main-blue);
    background:var(--highlight-yellow);
    border-color:var(--highlight-yellow);
  }

  &--blue-selected{
    color: var(--main-blue);
    background:var(--highlight-blue);
    border-color:var(--highlight-blue);
  }

  &--orange-selected{
    color: var(--main-blue);
    background:var(--highlight-orange);
    border-color:var(--highlight-orange);
  } */
}
.btn--no-bottom{
    border-bottom: 0;
  }
.btn--small{
    padding: 6px 10px;
  }
.btn--smaller{
    font-size: 0.625rem;
    padding: 4px 10px;
  }
.btn--timeline{
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, var(--highlight-yellow)), color-stop(50%, var(--main-blue)));
    background: linear-gradient(to right, var(--highlight-yellow) 50%, var(--main-blue) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
  }
.btn--white{
    color: white;
    border-color: white;
  }
.btn--selected{
    background-position: left bottom;
    /* background: var(--highlight-yellow);  */
    border-color: var(--highlight-yellow); 
  }
.btn--yellow{
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, var(--highlight-yellow)), color-stop(50%, var(--main-blue)));
    background: linear-gradient(to right, var(--highlight-yellow) 50%, var(--main-blue) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: var(--highlight-yellow);
    border-color:var(--highlight-yellow);
  }
.btn--blue{
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, var(--highlight-blue)), color-stop(50%, var(--main-blue)));
    background: linear-gradient(to right, var(--highlight-blue) 50%, var(--main-blue) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: var(--highlight-blue);
    border-color:var(--highlight-blue);
  }
.btn--orange{
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, var(--highlight-orange)), color-stop(50%, var(--main-blue)));
    background: linear-gradient(to right, var(--highlight-orange) 50%, var(--main-blue) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: var(--highlight-orange);
    border-color:var(--highlight-orange);
  }
.btn--graph-selected{
    background-position: left bottom;
    color: var(--main-blue);
  }
.hero{
  background: var(--alt-blue);
  padding-bottom: 35px;
}
/* position: relative;
  top: 50px; */
.hero__title{
    width: 534px;
    color: var(--main-blue);
    font-size: 5rem;
    font-weight: bold;
    line-height: 1;
    margin: 32px 0 50px 0;
  }
.hero__divider{
    width: 534px;
    float: left;
    margin-top: 0;
    margin-bottom: 9px;
  }
.hero__subtitle{
    width: 390px;
    font-family: Times-Roman;
    font-weight: normal;
    color: var(--main-blue);
    font-size: 2.25rem;
    line-height: 1;
  }
.hero__image{
    width: 100%;
    height: 202px;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
  }
.intro{
  display: grid;
  grid-template-columns: 248px 539px;
  /* grid-template-row: repeat(3, auto); */
  grid-gap: 31px 41px;
}
.intro__title{
    grid-column: 1 / span 1;
    font-size: 2.25rem;
    line-height: 0.89;
    font-weight: normal;
    margin: 0;
  }
.intro__content{
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
    line-height: 1.5;
    font-size: 1rem;
    margin: 0;
  }
.intro__image{
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    height: 303px;
    width: 539px;
  }
.intro__svg{
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    justify-self: center;
    -ms-flex-item-align: center;
        align-self: center;
    opacity: 0.8;
  }
.intro__caption{
    grid-column: 2 / span 1;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 2;
    margin-top: -24px;
  }
.intro__caption p{ 
      font-size: 0.75rem;
      padding-right: 5px;
      line-height: 1.33;
      margin: 0;
    }
.timeline{
  color: white;
  
}
.timeline__title{
    font-size: 2.25rem;
    font-weight: 400;
    color: white;
    margin-top: 0;
  }
.timeline__selection ul {
      margin: 0;
      padding: 0;
    }
.timeline__selection li{
      list-style: none;
      display: inline-block;
      padding-right: 7px;
    }
.timeline__divider{
    display: inline-block;
    width: 95px;
    margin: 5px -5px;
  }
.timeline__grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5,auto);
    grid-gap: 17px 42px;
    grid-template-areas: "title empty empty"
    "text1 text3 table-title"
    "text1 text3 table-btn"
    "text1 text3 table"
    "text2 text4 table";
    margin-top: 44px;
  }
.timeline__grid__title{
      grid-area: title;
      color: var(--highlight-yellow);
      font-weight: 400;
      font-size: 1.5rem;
    }
.timeline__grid__text{
      font-size: 1rem;
      color: var(--alt-text);
      line-height: 1.5;
    }
.timeline__grid__text--area1{
        grid-area: text1;
      }
.timeline__grid__text--area2{
        grid-area: text2;
      }
.timeline__grid__text--area3{
        grid-area: text3;
      }
.timeline__grid__text--area4{
        grid-area: text4;
        font-size: 0.875rem;
        line-height: 1.57;
      }
.timeline__grid__btn{
      grid-area: table-btn;
    }
.timeline__grid__table-title{
      grid-area: table-title;
    }
.timeline__grid__table{
      grid-area: table;
    }
.success{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 38px;
}
.success__title{
    grid-column: 1 / -1;
    font-size: 2.25rem;
    font-weight: 400;
    margin: 0;
  }
.success__btn{
    grid-column: 1 / -1;
    justify-self: center;
  }
.card__headline{
    font-size: 5.625rem;
    text-align: center;
    letter-spacing: -5px;
  }
.card__headline--percent{
      font-size: 3.125rem;
      vertical-align: super;
    }
.card__content{
    font-size: 0.875rem;
    line-height: 1.57;
  }
.card__divider {
    border: 0.5px solid #d8d8d8;
  }
.partners{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4,auto);
  grid-gap: 37px;
  grid-template-areas: "title image image"
    "content image image"
    "content caption numbers"
    "button caption numbers";
}
.partners__title{
    grid-area: title;
    font-size: 2.25rem;
    font-weight: 400;
    margin:0;
  }
.partners__image{
    grid-area: image;
    width: 534px;
    height: 303px;
  }
.partners__content{
    font-size: 1rem;
    grid-area: content;
    line-height: 1.5;
    margin: 0;
  }
.partners__caption{
    grid-area: caption;
    font-size: 1.125rem;
    line-height: 2;
    margin-top: -29px;
  }
.partners__caption p {
      font-size: 0.75rem;
      margin: 0;
      line-height: 1.33;
    }
.partners__numbers{
    grid-area: numbers;
    font-size: 0.75rem;
  }
/* line-height: 1.33; */
.partners__numbers ul{
      display: inline-block;
      margin: 0;
      padding: 0;
    }
.partners__numbers li{
      list-style: none;
      padding: 5px 0;
    }
.partners__numbers li span{
        font-weight:600;
      }
.partners__btn{
    grid-area: button;
    margin-top: -40px;
  }
footer{
  background: var(--main-blue);
  width: 100%;
  height: 509px;
  text-align: center;
  text-transform: capitalize;
  font-size: 150px;
}
.footer__content{
  position: relative;
  color: white;
  opacity: 0.17;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.primary-nav--pull-right{
    float: right;
  }
.primary-nav ul {
    margin: 0;
    padding: 0;
    /* @mixin clearfix; */
  }
.primary-nav li{
    list-style: none;
    display: inline-block;
    padding-right: 20px;
  }
.primary-nav li:last-child{
    padding-right: 0;
  }
.primary-nav a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    display: block;
    padding: 17px 0;
    font-size: 0.875rem;
    text-transform: capitalize;
    /* background-color: transparent; */
  }
.primary-nav a.is-selected{
      opacity: 0.6;
    }
.primary-nav--top li{
      padding-right: 35px;
    }
.primary-nav--top li:last-child{
      padding-right: 0;
      padding-left: 35px;
      border-left: 1px solid grey;
    }
.primary-nav--top a {
      padding: 9px 0;
      text-transform: uppercase;
      font-size: 0.625rem;
      font-weight: 400;
    }
.page-section{
  padding: 4.375rem 0;
}
.page-section--main-blue{
    background: var(--main-blue);
  }
.page-section--alt-blue{
    background: var(--alt-blue);
  }
.graph{
  display: grid;
  grid-template-columns: 0 repeat(6,1fr);
  grid-template-rows: repeat(60, 1fr) 0;
  grid-column-gap: 0px;
  justify-items: center;
  height: 200px;
  margin-top: 0;
  margin-bottom: 20px;

  /* &__b-divider{
    width: 200px;
    position: relative;
    top: 0px;
    grid-column: 1 / 3;
    grid-row: -2 / -2; 
  } */
}
.graph__date {
    /* fill the bottom row */
    grid-row-start: -2;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.6875rem;
  /* font-weight: bold; */
  /* grid-row-start: -2; */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  z-index: 2;
  padding-top: 15px;
  width: 100%;
  border-top: 1px solid #f4e8d6;
  }
.graph__bar {
    /* end before the bottom row */
    grid-row-start: calc(62 - (var(--value) - 20));
    grid-row-end: -2;
    background: var(--highlight-yellow);
    color: transparent;
    background-size: 100%;
    width: 21px;
    margin: 0;
    -webkit-transition: all 0.08s ease-out;
    transition: all 0.08s ease-out;
    /* list-style: none; */
  /* position: relative; */
    /* background-size: 1600% 100%; */
    /* background-position: calc(var(--start) * 1%) 0; */
  }
.graph__vAxis{
    grid-column: 1 /span 1;
    grid-row: 2 / 62;
    border-right: 1px solid #f4e8d6;
    justify-self: end;
  }
.graph__vAxis-unit{
    grid-column: 1 /span 1;
    grid-row: 1 / 1;
    font-weight: bold;
    font-size: 0.6875rem;
    margin-right: 30px;
  }
.graph__vAxis-values{
    grid-column: 1 /span 1;
    grid-row: calc(61 - (var(--value) - 20));
    margin-right: 30px;
    font-size: 0.6875rem;
  }
.slider__container{
    overflow: hidden;
  }
.slider__grid{
    display: grid;
    grid-template-columns: repeat(6, 100%);
    position: relative;
    left: -820px;
    -webkit-transition: all 1s;
    transition: all 1s;
  }