:root{
  --main-blue: #002140;
  --alt-blue: #e6f0f3;
  --highlight-yellow: #e6ff00;
  --highlight-orange: #ffa32b;
  --highlight-blue: #61e3e8;
  --alt-text: #f4e8d6;
}
body {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  color: var(--main-blue);
  background-color: #ffffff;
  width: 320px;
  margin: 0;
}
@media (min-width: 899px){
body {
    width: 900px
}
  }
img{
  max-width: 100%;
  height: auto;
}
*{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.top-push{
  width: 100%;
  height: 50px;
}
@media (min-width: 899px){
.top-push{
    height: 80px
}
  }
.site-header{
  position: fixed;
  top: 0;
  z-index: 5;
  width: 320px;
  background: var(--main-blue);
  color: white;
  padding: 0;
}
@media (min-width: 899px){
.site-header{
    width: 900px
}
  }
.site-header__logo{
    position: absolute;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.25rem;
    padding: 14px 0;
  }
.site-header__first-row{
    display: none;
  }
@media (min-width: 899px){
.site-header__first-row{
      display: block
  }
  }
.site-header__second-row{
    left: 0;
    border-top: 1px solid grey;
    height: 50px;
  }
@media (min-width: 899px){
.site-header__second-row{
      top: 30px
  }
  }
.site-header__menu-content{
    opacity: 0;
  }
@media (min-width: 899px){
.site-header__menu-content{
      opacity: 1
  }
  }
.site-header__menu-content--is-visible{
      opacity: 1;
    }
.site-header__menu-icon{
    width: 34px;
    height: 19px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 10;
  }
.site-header__menu-icon::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 34px;
      height: 3px;
      background-color: #FFF;
      -webkit-transform-origin: 0 0;
              transform-origin: 0 0;
      -webkit-transition: -webkit-transform .3s ease-out;
      transition: -webkit-transform .3s ease-out;
      transition: transform .3s ease-out;
      transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    }
.site-header__menu-icon__middle {
      position: absolute;
      top: 8px;
      left: 0;
      width: 34px;
      height: 3px;
      background-color: #FFF;
      -webkit-transition: all .3s ease-out;
      transition: all .3s ease-out;
      -webkit-transform-origin: 0 50%;
              transform-origin: 0 50%;
    }
.site-header__menu-icon::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 34px;
      height: 3px;
      background-color: #FFF;
      -webkit-transform-origin: 0 100%;
              transform-origin: 0 100%;
      -webkit-transition: -webkit-transform .3s ease-out;
      transition: -webkit-transform .3s ease-out;
      transition: transform .3s ease-out;
      transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    }
@media (min-width: 899px){
.site-header__menu-icon{
      display: none
  }
  }
.site-header__menu-icon--close-x::before {
      -webkit-transform: rotate(25deg) scaleX(1.25);
              transform: rotate(25deg) scaleX(1.25);
    }
.site-header__menu-icon--close-x::after {
      -webkit-transform: rotate(-25deg) scaleX(1.25) translateY(1px);
              transform: rotate(-25deg) scaleX(1.25) translateY(1px);
    }
.site-header__menu-icon--close-x .site-header__menu-icon__middle {
      opacity: 0;
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
    }
.wrapper{
  padding-left: 40px;
  padding-right: 40px;
}
.btn{
  position: relative;
  background-color: transparent;
  color: var(--main-blue);
  text-decoration: none;
  display: inline-block;
  border: 1px solid var(--main-blue);
  text-transform: uppercase;
  font-size: 0.875rem;
  padding: 20px 25px;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.btn--no-bottom{
    border-bottom: 0;
  }
.btn--small{
    width: 54px;
    padding: 6px 10px;
  }
.btn--smaller{
    font-size: 0.625rem;
    padding: 4px 10px;
  }
.btn--timeline{
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, var(--highlight-yellow)), color-stop(50%, var(--main-blue)));
    background: linear-gradient(to right, var(--highlight-yellow) 50%, var(--main-blue) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    z-index: 3;
  }
.btn--white{
    color: white;
    border-color: white;
  }
.btn--selected{
    background-position: left bottom;
    border-color: var(--highlight-yellow); 
  }
.btn--yellow{
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, var(--highlight-yellow)), color-stop(50%, var(--main-blue)));
    background: linear-gradient(to right, var(--highlight-yellow) 50%, var(--main-blue) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: var(--highlight-yellow);
    border-color:var(--highlight-yellow);
  }
.btn--blue{
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, var(--highlight-blue)), color-stop(50%, var(--main-blue)));
    background: linear-gradient(to right, var(--highlight-blue) 50%, var(--main-blue) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: var(--highlight-blue);
    border-color:var(--highlight-blue);
  }
.btn--orange{
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, var(--highlight-orange)), color-stop(50%, var(--main-blue)));
    background: linear-gradient(to right, var(--highlight-orange) 50%, var(--main-blue) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: var(--highlight-orange);
    border-color:var(--highlight-orange);
  }
.btn--graph-selected{
    background-position: left bottom;
    color: var(--main-blue);
  }
.hero{
  background: var(--alt-blue);
  padding-bottom: 35px;
}
.hero__title{
    width: 100%;
    font-size: 3.125rem;
    color: var(--main-blue);
    font-weight: bold;
    line-height: 1.1;
    margin: 16px 0 50px 0;
  }
@media (min-width: 899px){
.hero__title{
      width: 534px;
      font-size: 5rem;
      line-height: 1;
      margin: 32px 0 50px 0
  }
  }
.hero__divider{
    width: 100%;
    float: left;
    margin-top: 0;
    margin-bottom: 9px;
  }
@media (min-width: 899px){
.hero__divider{
      width: 534px
  }
  }
.hero__subtitle{
    width: 100%;
    font-family: Times-Roman;
    font-weight: normal;
    color: var(--main-blue);
    font-size: 1.875rem;
    line-height: 1.2;
  }
@media (min-width: 899px){
.hero__subtitle{
      width: 390px;
      font-size: 2.25rem;
      line-height: 1
  }
  }
@media (min-width: 899px){
.hero__image{
      width: 100%;
      height: 202px;
      -o-object-fit: cover;
         object-fit: cover;
      display: block
  }
  }
.intro{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  grid-gap: 10px;
}
@media (min-width: 899px){
.intro{
    grid-template-columns: 248px 539px;
    grid-gap: 31px 41px
}
  }
.intro__title{
    grid-column: 1 / span 1;
    font-size: 1.875rem;
    line-height: 1.07;
    font-weight: 400;
    margin: 0 0 30px 0;
    width: 150px;
  }
@media (min-width: 899px){
.intro__title{
      font-size: 2.25rem;
      margin: 0;
      line-height: 0.89
  }
  }
.intro__content{
    grid-column: 1 / span 1;
    line-height: 1.5;
    font-size: 1rem;
    margin: 0;
  }
@media (min-width: 899px){
.intro__content{
      grid-row: 2 / span 2
  }
  }
.intro__image{
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }
@media (min-width: 899px){
.intro__image{
      height: 303px;
      width: 539px;
      grid-column: 2 / span 1;
      grid-row: 1 / span 2
  }
  }
.intro__svg{
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    justify-self: center;
    -ms-flex-item-align: center;
        align-self: center;
    opacity: 0.8;
  }
@media (min-width: 899px){
.intro__svg{
      grid-column: 2 / span 1;
      grid-row: 1 / span 2
  }
  }
.intro__caption{
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 2;
  }
@media (min-width: 899px){
.intro__caption{
      grid-column: 2 / span 1;
      margin-top: -24px
  }
  }
.intro__caption p{ 
      font-size: 0.75rem;
      padding-right: 5px;
      line-height: 1.33;
      margin: 0;
    }
.timeline{
  color: white;
  
}
.timeline__main-grid{
    display: grid;
    grid-template-columns: 0px 1fr;
    grid-gap: 10px 0;
  }
@media (min-width: 899px){
.timeline__main-grid{
      grid-template-columns: 0.66fr repeat(4,1fr) 0.66fr;
      grid-gap: 0
  }
  }
.timeline--centered{
    justify-self: center;
  }
.timeline--end{
    justify-self: end;
  }
.timeline__title{
    grid-column: 1 /-1;
    font-size: 1.875rem;
    font-weight: 400;
    color: white;
    margin-top: 0;
  }
@media (min-width: 899px){
.timeline__title{
      font-size: 2.25rem
  }
  }
.timeline__selection{
    grid-column: 1/-1;
  }
.timeline__selection ul {
      margin: 0;
      padding: 0;
    }
.timeline__selection li{
      list-style: none;
    }
@media (min-width: 899px){
.timeline__selection li{
        display: inline-block;
        padding-right: 7px
    }
  }
.timeline__divider{
    grid-row: 2/ 9;
    grid-column: 1 / 2;
    width: 1px;
    height: 100%;
    margin: 0 0 0 25px;
  }
@media (min-width: 899px){
.timeline__divider{
      grid-row: 2/ 3;
      grid-column: 1 / -1;
      width: 100%;
      height: 1px;
      z-index: 1;
      margin: 14px 0
  }
  }
.timeline__grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "title"
    "text1"
    "text2"
    "text3"
    "text4"
    "table-title"
    "table-btn"
    "table";
    grid-gap: 17px;
  }
@media (min-width: 899px){
.timeline__grid{
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: repeat(5,auto);
      grid-gap: 17px 42px;
      grid-template-areas: "title empty empty"
      "text1 text3 table-title"
      "text1 text3 table-btn"
      "text1 text3 table"
      "text2 text4 table";
      margin-top: 44px
  }
  }
.timeline__grid__title{
      grid-area: title;
      color: var(--highlight-yellow);
      font-weight: 400;
      font-size: 1.5rem;
    }
.timeline__grid__text{
      font-size: 1rem;
      color: var(--alt-text);
      line-height: 1.5;
    }
.timeline__grid__text--area1{
        grid-area: text1;
      }
.timeline__grid__text--area2{
        grid-area: text2;
      }
.timeline__grid__text--area3{
        grid-area: text3;
      }
.timeline__grid__text--area4{
        grid-area: text4;
        font-size: 0.875rem;
        line-height: 1.57;
      }
.timeline__grid__btn{
      grid-area: table-btn;
    }
.timeline__grid__table-title{
      grid-area: table-title;
    }
.timeline__grid__table{
      grid-area: table;
    }
@media (min-width: 899px){
#btn-1998{
    grid-column: 1 / span 1;
    grid-row: 2 / 3;
    justify-self: start
}
  }
@media (min-width: 899px){
#btn-2002{
    grid-column: 2 / span 1;
    grid-row: 2 / 3;
    justify-self: center
}
  }
@media (min-width: 899px){
#btn-2006{
  grid-column: 3 / span 1;
  grid-row: 2 / 3;
  justify-self: center
}
  }
@media (min-width: 899px){
#btn-2012{
  grid-column: 4 / span 1;
  grid-row: 2 / 3;
  justify-self: center
}
  }
@media (min-width: 899px){
#btn-2014{
  grid-column: 5 / span 1;
  grid-row: 2 / 3;
  justify-self: center
}
  }
@media (min-width: 899px){
#btn-2018{
  grid-column: 6 / span 1;
  grid-row: 2 / 3;
  justify-self: end
}
  }
.success{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
@media (min-width: 899px){
.success{
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 38px
}
  }
.success__title{
    grid-column: 1 / -1;
    font-size: 1.875rem;
    font-weight: 400;
    margin: 0;
    width: 218px;
    line-height: 1.07;
  }
@media (min-width: 899px){
.success__title{
      font-size: 2.25rem;
      width: 100%
  }
  }
.success__btn{
    grid-column: 1 / -1;
    justify-self: center;
  }
.card__headline{
    font-size: 5.625rem;
    text-align: center;
    letter-spacing: -5px;
  }
.card__headline--percent{
      font-size: 3.125rem;
      vertical-align: super;
    }
.card__content{
    font-size: 0.875rem;
    line-height: 1.57;
  }
.card__divider {
    border: 0.5px solid #d8d8d8;
  }
.partners{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4,auto);
  grid-gap: 20px;
  grid-template-areas: "title"
    "content"
    "button"
    "image"
    "caption"
    "numbers";
}
@media (min-width: 899px){
.partners{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4,auto);
    grid-gap: 37px;
    grid-template-areas: "title image image"
      "content image image"
      "content caption numbers"
      "button caption numbers"
}
  }
.partners__title{
    grid-area: title;
    font-size: 1.875rem;
    font-weight: 400;
    margin:0;
    line-height: 1.07;
  }
@media (min-width: 899px){
.partners__title{
      font-size: 2.25rem;
      line-height: 0.89
  }
  }
.partners__image{
    grid-area: image;
    width: 100%;
  }
@media (min-width: 899px){
.partners__image{
      width: 534px;
      height: 303px
  }
  }
.partners__content{
    font-size: 1rem;
    grid-area: content;
    line-height: 1.5;
    margin: 0;
  }
.partners__caption{
    grid-area: caption;
    font-size: 1.125rem;
    line-height: 2;
  }
@media (min-width: 899px){
.partners__caption{
      margin-top: -29px
  }
  }
.partners__caption p {
      font-size: 0.75rem;
      margin: 0;
      line-height: 1.33;
    }
.partners__numbers{
    grid-area: numbers;
    font-size: 0.75rem;
  }
.partners__numbers ul{
      display: inline-block;
      margin: 0 5px 0 0;
      padding: 0;
    }
.partners__numbers li{
      list-style: none;
      padding: 5px 0;
    }
.partners__numbers li span{
        font-weight:600;
      }
.partners__btn{
    grid-area: button;
  }
@media (min-width: 899px){
.partners__btn{
      margin-top: -40px
  }
  }
footer{
  background: var(--main-blue);
  width: 100%;
  height: 194px;
  text-align: center;
  text-transform: capitalize;
  font-size: 4.375rem;
}
@media (min-width: 899px){
footer{
    height: 509px;
    font-size: 150px
}
  }
.footer__content{
  position: relative;
  color: white;
  opacity: 0.17;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.primary-nav--pull-right{
    float: right;
  }
.primary-nav ul {
    margin: 0;
    padding: 20px;
    background: var(--main-blue);
    width: 200px;
    margin: 49px -40px 0 0;
    text-align: right;
  }
@media (min-width: 899px){
.primary-nav ul {
      padding: 0;
      margin: 0;
      background: transparent;
      width: 100%;
      text-align: left
  }
  }
.primary-nav li{
    list-style: none;
  }
@media (min-width: 899px){
.primary-nav li{
      display: inline-block;
      padding-right: 20px
  }
  }
.primary-nav li:last-child{
    padding-right: 0;
  }
.primary-nav a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    display: block;
    padding: 17px 0;
    font-size: 0.875rem;
    text-transform: capitalize;
  }
.primary-nav a.is-selected{
      opacity: 0.6;
    }
.primary-nav--top li{
      padding-right: 35px;
    }
.primary-nav--top li:last-child{
      padding-right: 0;
      padding-left: 35px;
      border-left: 1px solid grey;
    }
.primary-nav--top a {
      padding: 9px 0;
      text-transform: uppercase;
      font-size: 0.625rem;
      font-weight: 400;
    }
.page-section{
  padding: 4.375rem 0;
}
.page-section--main-blue{
    background: var(--main-blue);
  }
.page-section--alt-blue{
    background: var(--alt-blue);
  }
.graph{
  display: grid;
  grid-template-columns: 0.5fr repeat(6,1fr);
  grid-template-rows: repeat(60, 1fr) 0;
  grid-column-gap: 0px;
  justify-items: center;
  height: 200px;
  margin-top: 0;
  margin-bottom: 20px;
}
.graph__date {
    grid-row-start: -2;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0.6875rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    z-index: 2;
    padding-top: 5px;
    width: 100%;
    border-top: 1px solid #f4e8d6;
  }
.graph__bar {
    grid-row-start: calc(62 - (var(--value) - 20));
    grid-row-end: -2;
    background: var(--highlight-yellow);
    color: transparent;
    background-size: 100%;
    width: 21px;
    margin: 0;
    -webkit-transition: all 0.08s ease-out;
    transition: all 0.08s ease-out;
  }
.graph__vAxis{
    grid-column: 1 /span 1;
    grid-row: 2 / 62;
    border-right: 1px solid #f4e8d6;
    justify-self: end;
  }
.graph__vAxis-unit{
    grid-column: 1 /span 1;
    grid-row: 1 / 1;
    font-weight: bold;
    font-size: 0.6875rem;
    margin-right: 5px;
  }
.graph__vAxis-values{
    grid-column: 1 /span 1;
    grid-row: calc(61 - (var(--value) - 20));
    margin-right: 5px;
    font-size: 0.6875rem;
  }
.slider{
  position: relative;
  z-index: 3;
}
.slider__container{
    overflow: hidden;
    grid-column: 1 / -1;
    grid-row-start: 4;
    background: var(--main-blue);
    padding: 30px 0 50px 0;
    margin: -20px 0 -20px 0;
  }
@media (min-width: 899px){
.slider__container{
      grid-row: 3 / 4;
      padding: 0;
      margin: 0
  }
  }
.slider__grid{
    display: grid;
    grid-template-columns: repeat(6, 100%);
    position: relative;
    left: -240px;
  }
@media (min-width: 899px){
.slider__grid{
      -webkit-transition: all 1s;
      transition: all 1s;
      left: -820px
  }
  }