body {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  color: var(--main-blue);
  background-color: #ffffff;
  width: 320px;
  margin: 0;
  @mixin atDesktop{
    width: 900px;
  }
}

img{
  max-width: 100%;
  height: auto;
}

*{
  box-sizing: border-box;
}

.top-push{
  width: 100%;
  height: 50px;
  @mixin atDesktop{
    height: 80px;
  }
}
